.square {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: rgb(185, 185, 185);
  border-style: solid;
}

button {
  width: 150px;
  height: 30px;
}

.in-progress {
  cursor: crosshair;
}